#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_1 {
  position: absolute;
  top: 182px;
  left: 58px;
  width: 814px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_13 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_13-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_12 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_12-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_11 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_11-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_10 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_10-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_9 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_9-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_8 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_8-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_7 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_7-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_6 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_6-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_5 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_5-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_4 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_4-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_3 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_3-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_2 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_2-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_1 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Menu_item_1-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Image_1 {
  position: absolute;
  top: 50px;
  left: 58px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Image_2 {
  position: absolute;
  top: 50px;
  left: 205px;
  width: 669px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Image_9 {
  position: absolute;
  top: 1029px;
  left: 58px;
  width: 816px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Rectangle_3 {
  position: absolute;
  top: 1072px;
  left: 58px;
  width: 812px;
  height: 120px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_1 {
  position: absolute;
  top: 1105px;
  left: 78px;
  width: 123px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_2 {
  position: absolute;
  top: 1125px;
  left: 78px;
  width: 123px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_3 {
  position: absolute;
  top: 1145px;
  left: 78px;
  width: 123px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Image_10 {
  position: absolute;
  top: 1154px;
  left: 343px;
  width: 55px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Image_11 {
  position: absolute;
  top: 1154px;
  left: 397px;
  width: 55px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Image_12 {
  position: absolute;
  top: 1154px;
  left: 453px;
  width: 55px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_4 {
  position: absolute;
  top: 1081px;
  left: 277px;
  width: 276px;
  height: 54px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Button_1 {
  position: absolute;
  top: 989px;
  left: 884px;
  width: 105px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Button_1 span#rtr-s-Button_1_1 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Button_2 {
  position: absolute;
  top: 958px;
  left: 885px;
  width: 102px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Button_2 span#rtr-s-Button_2_1 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Line_1 {
  position: absolute;
  top: 303px;
  left: 60px;
  width: 811px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_9 {
  position: absolute;
  top: 265px;
  left: 71px;
  width: 215px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Image_3 {
  position: absolute;
  top: 338px;
  left: 58px;
  width: 813px;
  height: 288px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Rectangle_1 {
  position: absolute;
  top: 649px;
  left: 58px;
  width: 305px;
  height: 162px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_2 {
  position: absolute;
  top: 656px;
  left: 87px;
  width: 266px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_3 {
  position: absolute;
  top: 773px;
  left: 87px;
  width: 266px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_5 {
  position: absolute;
  top: 712px;
  left: 87px;
  width: 266px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Image_4 {
  position: absolute;
  top: 745px;
  left: 511px;
  width: 78px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Image_5 {
  position: absolute;
  top: 747px;
  left: 765px;
  width: 78px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Image_6 {
  position: absolute;
  top: 747px;
  left: 641px;
  width: 78px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_4 {
  position: absolute;
  top: 639px;
  left: 619px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Line_2 {
  position: absolute;
  top: 682px;
  left: 512px;
  width: 335px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 18px;
  position: absolute;
  overflow: hidden;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Ellipse_1 .content {
  width: 19px;
  height: 18px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Ellipse_1 {
  position: absolute;
  top: 665px;
  left: 60px;
  width: 19px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 18px;
  position: absolute;
  overflow: hidden;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Ellipse_2 .content {
  width: 19px;
  height: 18px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Ellipse_2 {
  position: absolute;
  top: 721px;
  left: 60px;
  width: 19px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 18px;
  position: absolute;
  overflow: hidden;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Ellipse_3 .content {
  width: 19px;
  height: 18px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Ellipse_3 {
  position: absolute;
  top: 782px;
  left: 60px;
  width: 19px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Rectangle_2 {
  position: absolute;
  top: 625px;
  left: 58px;
  width: 305px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Line_3 {
  position: absolute;
  top: 848px;
  left: 56px;
  width: 815px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_1 {
  position: absolute;
  top: 896px;
  left: 59px;
  width: 812px;
  height: 76px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 #s-Image_7 {
  position: absolute;
  top: 858px;
  left: 366px;
  width: 243px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-377f8d5b-2f4c-46a1-b027-bcc18e51fa35 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}