#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49f9019b-bee3-4c7c-97b9-80d3a1b6c1cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}