#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ca24cbf7-792f-4203-97ef-0c0599f458ce > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}