#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Line_3 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3c4ac66-38d9-42c2-9c2e-1ce50be8876b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}